.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.custom-blue {
  color: rgb(69,70,151) !important
}


.carousel-title {
  text-align: right;
}

.carousel-text {
  text-align: justify;
  
}


.clear-fix {
  overflow: auto;
}

.direita {
  float: right;
}